<div class="container text-center my-3">
    <div class="jumbotron" style="background-color: rgb(245, 173, 165);color: white;">
        <h1>Error al intentar crear una session</h1>

        <button class="btn btn-warning my-5" onclick="location.href='/'">VOLVER</button>
    </div>
</div>

