<div class="container my-5">
    <div class="jumbotron">

      <h1>REGISTRO</h1>
      <br>
      <form class="form" action="/registrar" method="post" role="form" autocomplete="off">

        <div class="form-group">
          <label for="username">E-mail:</label>
          <input id="username" name='username' placeholder="E-Mail" class="form-control" type="text" required>
        </div>

        <div class="form-group">
          <label for="password">Contraseña:</label>
          <input id="password" name='password' placeholder="Contraseña" class="form-control" type="password" required>
        </div>

        <div class="form-group">
          <input class="btn btn-success my-3" type="submit" value="Register">
        </div>
      </form>

      <hr>

      <div class="text-left">
        <button class="btn btn-success my-3" onclick="location.href = '/login'">Ir a Login</button>
      </div>

    </div>
</div>